.home-header {
  display: flex;
	align-items: center;
	justify-content: space-between;
  background-color: #385898;
  color: #fff;
  min-height: 85px;
  padding: 0 40px 0 100px;
  &__tile {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 600;
  }
  &__input-wrapper {
    display: flex;
    align-items: center;   
    button {
      font-weight: bold;
    } 
  }
  .btn-export {
    background-color: #4CAF50;
    color: #fff;
  }
}

.gm-style .gm-style-iw {
  table {
    border: 3px solid #ddd;
    min-width: 300px;
    padding: 10px;
  }
  thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
  }
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
}    
